* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: scroll;
}


header {
    position: fixed;
    width: 100vw;
    z-index: 1000;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: gray;
}

nav {
    background-color: whitesmoke;
    color: gray;
    font-size: small;
    font-weight: 500;
}

/*============Part Header=========*/
.nav_container_one {
    display: flex;
    flex-direction: row;
    place-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 3px;
}

.ul_item1 {
    display: flex;
    align-items: center;
    position: relative;
    margin-left: 2rem;
}

.ul_item1:hover {
    cursor: pointer;
}

.ul_item2 {
    display: flex;
    width: 44%;
    gap: 36px;
}

/*==========Part Nav 2==========*/
.nav_container_two {
    display: inline-flex;
    width: 100vw;
    padding: 8px;
    margin-left: -20px;
    align-items: center;
    place-content: space-evenly;
    background-color: white;
}

.ul_item3 {
    position: relative;
    display: inline-flex;
    align-items: center;
}

.ul_item4>a {
    text-align: center;
    color: black;
    font-size: 14px;
}

.ul_item5 {
    right: 15px;
    display: flex;
    align-items: center;
    position: relative;
    box-sizing: border-box;
}

.la-search {
    transform: translate(3px, 0px);
}

.search_item5 {
    width: 680px;
    height: 39px;
    border-radius: 25px;
    border: 1px solid #cccaca;
    margin-left: -30px;
}

.ul_item5 .carousal_item5 {
    width: 680px;
    padding: 0.6rem;
    border-radius: 8px;
}

/*==============Nav Chart================*/
.item_cart>.la-shopping-cart {
    color: black;
    font-size: 1.9rem;
    margin-left: -50px;
}



.item_cart>.la-shopping-cart:hover {
    color: #a7a7a7;
    cursor: pointer;
}

.hr {
    border-left: 1px solid #a7a7a7;
    height: 30px;
}

.la-carousal {
    position: relative;
    transform: translate(30px, 0px);
}

/*==========Part Nav 2 > carousal==========*/
.carousal_item5 {
    width: 750px;
    border-radius: 5px;
    color: #adacac;
    border: 1px solid #adacac;
    font-weight: bold;
}

.carousal_item5:hover {
    color: #adacac;
    border: 1px solid #adacac;
}

.carousal_item5:focus {
    color: #adacac;
    border: 1px solid #adacac;
}

/*==========Part Nav 2 > Button==========*/

.ul_item6 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn_item6 {
    border-radius: 8px;
    width: 78px;
}

.masuk {
    background-color: #fdfdfd;
    color: rgb(10, 177, 10);
    border: 1px solid rgb(10, 177, 10);
    padding: 8px;
}

.daftar {
    background-color: rgb(10, 177, 10);
    color: #fdfdfd;
    border: none;
    padding: 9px;
}

/*==============Button Hover==============*/
.masuk:hover {
    background-color: rgb(10, 177, 10);
    color: #fdfdfd;
    border: none;
    padding: 9px;
    cursor: pointer;
    transition: 0.7s;
}

.daftar:hover {
    background-color: #fdfdfd;
    color: rgb(10, 177, 10);
    border: 1px solid rgb(10, 177, 10);
    padding: 8px;
    cursor: pointer;
    transition: 0.7s;
}


/*=================Part Nav 3====================*/
.nav_container_three {
    width: 100vw;
    padding: 5px;
    display: inline-flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px #e4e4e4;
    align-items: center;
}

.ul_item7 {
    display: inline-flex;
    gap: 25px;
    width: 50vw;
    margin-inline-start: 314px;
}

.ul_item8 {
    display: inline-flex;
    align-items: center;
    gap: 7px;
    margin-inline-end: 60px;
}

.ul_item8_content {
    display: inline-flex;
    align-items: center;
}

.select_one {
    border: none;
    font-weight: bold;
}

/*==============Container Produk==============*/
.container_parent_one {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1165px;
    height: 500px;
    margin-top: 250px;
    margin-left: 62px;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 1px 1px 8px 1px #d3d3d3;
}


/*==============Container Kategori Produk==============*/
#container_frame {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin-top: 20px;
    margin-left: 12px;
}

.frame {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 90px;
    height: 120px;
    background-color: #ffffff;
    border: 1px solid #eeecec;
    text-align: center;
    border-radius: 4px;
}

/* Custom navigation buttons */
.owl-prev,
.owl-next {
    position: absolute;
    top: 50%;
    width: 10px;
    transform: translateY(-50%);
    background: rgb(10, 177, 10) !important;
    color: white !important;
    padding: 10px !important;

    border-radius: 50%;
}

.owl-prev {
    left: -25px;
}

.owl-next {
    right: -25px;
}



/*==========Part Top Up=====*/
.top_up_container {
    width: 1220px;
    display: inline-flex;
    flex-direction: column;
    margin-top: 30px;
}

.top_up_item1 {
    display: inline-flex;
    align-items: center;
}

.top_up_item2 {
    width: 1100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #e4e4e4;
    align-items: center;
}

.link_lihatsemua {
    color: rgb(10, 177, 10);
    margin-left: 10px;
    font-weight: bold;
    cursor: pointer;
}

.link_tagihan {
    font-weight: bold;
    color: black;
    margin: 20px;
}

.link_tagihan:hover {
    border-bottom: 2px solid rgb(10, 177, 10);
    transition: 0.4s;
}

.tagihan {
    border: none;
    width: 200px;
    font-weight: bold;
    font-size: medium;
    padding: 5px;
}

.input_tlp_container {
    display: flex;
    width: 1220px;
}

.form_tlp {
    display: inline-flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    border-radius: 5px;
    gap: 8px;
}

.input_form {
    width: 300px;
    padding: 5px;
    color: #a7a7a7;
    border: 1px solid #cccbcb;
}

.text_form {
    font-weight: bold;
}

.btn_submit_tlp {
    padding: 7px;
    width: 220px;
    background-color: rgb(155, 255, 135);
    border: none;
    border-radius: 3px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(161, 163, 162);
    cursor: pointer;
}

/*======Kategori 3=====*/


.container_item_kategori3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 1100px !important;
    padding: 8px;
    margin-top: 30px;
    margin-left: 12px;
    border: 1px solid #f5f2f2;
}

.item_kategori_3 {
    display: flex;
    align-items: center;
    width: 100% auto;
    height: 15px;
    border-radius: 50px;
    margin: 4px;
    font-size: small;
    padding: 15px;
    border: 1px solid rgb(216, 209, 209);
    cursor: pointer;
}

.item_kategori_3:hover {
    cursor: pointer;
}

.img_kategori3 {
    width: 32px !important;
    height: 32px !important;
}

/*========Carousal Paling Bawah Kategori=======*/